
section{
    min-height:calc(100% - 3em) ;
    padding: 0px;
}

.mainPhoto{
    /*background: url('./../../../assets/portada.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*
    animation-name: mainIn;
    animation-duration: 700ms;
    animation-timing-function: ease-in;*/
}

.portada{
    font-family: 'Share Tech', sans-serif;
    text-align: cetner;
    font-size: 70px;
    line-height: 10em;
    color: white;
    width: 50%;
    
}

.title{
    color: white;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    font-size: 75px;

}

@media (max-width: 536px){
    .title{
        font-size: 55px;
    }
}

.sub-title{
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.main-botder-top{
    border-top: 1px double white ;
}

.main-border-bottom{
    border-bottom: 1px double white ;
}

.btn-mat-home{
    line-height: 3em;
    height: 3em;
    width: 12em;
}

.btn-mat-home:hover{
    color: black;
    text-decoration: none;
}