<section class="container-fluid height-vh" @fadeIn>
    <div class="mainPhoto">
        <p class="text-center title main-botder-top">
            Leonel Ruiz
        </p>
        <p class="text-center sub-title animatedTitle main-border-bottom"> 
            Desarrollador Web - Jr
        </p>
        <!--<a routerLink="/Portafolio" class="btn btn-outline-light btn-lg">Ver Proyectos</a>-->
        <a mat-flat-button routerLink="/Portafolio" class="btn-mat-home">Ver proyectos</a>
    </div>
</section>

